<article>
  <h1><%= @article.title %></h1>
  <%= render partial: "meta", locals: { article: @article } %>
  <%= preserve_markdown @article.content %>
  <hr>
  <p class="action"><%= link_to "â† Back to Overview", blog_articles_path %></p>
</article>
