<!DOCTYPE html>
<html>
<head>
  <title>Social Media</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Site Name</h1>
<%= yield %>
<em>Footer</em>
</body>
</html>
